# Question 1

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a #The result is 6.For accessing global variable a, the function b calls function c. The function b 
#calls function c passing the a's current value which is 0 at start of the invocation. Function c updates 
# the value of a by increasing it by 2 Second invocation of the function b now the global variable
# has value 2.we got at the start of the invocation a=2 at the end of the second invocation a=4. Third
#invocation of function b, at the start of third invocation a=4,at the end a=6

6

# Question 2

In [ ]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found")
fileLength('Filelength.txt')
fileLength('midterm.py')

# Question 3

In [7]:
class Marsupial:
    
    def __init__(self):
        self.contents=[]
    def put_in_pouch(self,a):
        self.contents.append(a)
    def pouch_contents(self):
        print(self.contents)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.xcord= x
        self.ycord= y
    def jump(self,dx,dy):
        self.xcord+=dx
        self.ycord+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates" + "("+str(self.xcord)+ ","+str(self.ycord) +")"

In [9]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

# Question 4

In [65]:
def collatz(n):
    print(n)
    if n!=1:
        if n%2==0:
            n = n//2
            n= int(n)
            collatz(n)
        else:
            n= (3*n) +1
            n= int(n)
            collatz(n)
    else:
        return

In [66]:
collatz(1)

1

In [67]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [61]:
def binary(n):
    if n==0:
        print("0")
    elif n==1:
        n = str(n)
        print(n, end="")
    else:
        r= n%2
        print(r,end="")
        n= n//2
        binary(n)

In [63]:
binary(0)

0

In [64]:
binary(1)

1

In [62]:
binary(3)

11

In [58]:
binary(9)

1001

# Question 6

In [ ]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.value=False
        self.space= False
        
        
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.value=True
        elif tag=="h2":
            self.value=True
            self.space=True
    def handle_data(self, data):
        if self.value== True:
            if self.space==True:
                print(" "+data.strip("\n"))
            else:
                print(data.strip("\n"))
        
            
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 8

In [ ]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Data(City text,Country text,Season text,Temperature  float ,Rainfall float)")

In [ ]:
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [ ]:
cur.execute("Select * from Data")
cur.fetchall()

In [ ]:
#a)
cur.execute("Select Temperature from Data ")
cur.fetchall()

In [15]:
#b)
cur.execute("Select Distinct City from Data ")
cur.fetchall()

[]

In [ ]:
#c)
cur.execute("Select * from Data where Country= 'India' ")
cur.fetchall()

In [ ]:
#d)
cur.execute("Select * from Data where Season= 'Fall' ")
cur.fetchall()

In [ ]:
#e)
cur.execute("Select City,Country,Season from Data where Rainfall between 200 and 400 ")
cur.fetchall()

In [ ]:
#f)
cur.execute("Select City,Country from Data where Temperature >20 and Season= 'Fall' order By Temperature  ")
cur.fetchall()

In [ ]:
#g)
cur.execute("Select SUM(Rainfall) from Data where City = 'Cairo'  ")
cur.fetchall()

In [ ]:
#h)
cur.execute("Select Season,Sum(Rainfall) from Data group by Season ")
cur.fetchall()

# Question 9

In [68]:
#a)
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
up= [item.upper() for item in words]
print(up)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [69]:
#b)
l= [item.lower() for item in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [70]:
#c)
l= [len(item) for item in words]
print(l)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [71]:
#d)
inner_outer_list= [[item.upper(), item.lower(), len(item)] for item in words]
print(inner_outer_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [72]:
#e)
more_than_four= [item for item in words if len(item)>3]
print(more_than_four)

['quick', 'brown', 'jumps', 'over', 'lazy']